[toolchain]
package_manager = "yarn"

[features]
resolution = true
skip-lint = false

[programs.localnet]
prediction_market = "6ya283kCp8zAet2hnHQAokhDrBw1DiCdvPtWK3gWXVgp"

[programs.devnet]
prediction_market = "6ya283kCp8zAet2hnHQAokhDrBw1DiCdvPtWK3gWXVgp"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "devnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"
