# Vercel CI/CD Pipeline

name: Vercel Production Deployment
env:
  VERCEL_ORG_ID: ${{ secrets.VERCEL_ORG_ID }}
  VERCEL_PROJECT_ID: ${{ secrets.VERCEL_PROJECT_ID }}

on:
  push:
    branches:
      - main

jobs:
  Deploy-Production:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: vercel/actions/build@v5
        with:
          token: ${{ secrets.VERCEL_TOKEN }}

      - uses: vercel/actions/deploy-production@v5
        with:
          token: ${{ secrets.VERCEL_TOKEN }}
